/* SOCIAL MEDIA */

/* MAIN CONTROL - CHANGE FOR POSITION */

footer {
font-family: Courier;
padding-top: 40px;
padding-bottom: 1%;
font-size: 17px;  
background-color: #18262C;
text-align: center;
}

/*.media {
transform: translate(-50%, -50%);
display: inline-block;

 margin-bottom: 0;
 margin: 0 5px;
 height: 60px;
 width: 60px;
}*/


.media ul {

	margin:10;
	transform: translate(5, 20px);
	list-style: none;
	float: center;
	align-items: center;
	padding-top: 1em 0;

/* margin-bottom: 0;
 padding: 20px;
 margin: 10px 30px;
 text-align: center;  
            width: 50px;
            text-align: center;
            border: gray;
            color: #fff;
            cursor: pointer;
            font-weight: bold;*/



}
.media ul li {
	padding-top: 17%;
	margin: 14px;
	list-style: none;
	display: inline-block;
	position: relative;
}

/* The actual logo inside circle */
.media ul li .fa {
	font-size: 32px;
	line-height: 20px
	transition .6s;
	color: #000;
	transform: translate(0%, 40%);
}
 
 /* JUST THE CIRCLE and shadow */
.media ul li a {
	position: bottom;
	display: block;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	transition: .6s;
	box-shadow: 0 5px 4px rgba(0, 0, 0, .5)
}

.media ul li a:hover {
	transform: translate(0, -10px);
}

/* LinkedIn */
.media ul li:nth-child(1) a:hover {
	background-color: #0e76a8;
}

/* Email*/
.media ul li:nth-child(2) a:hover {
	background-color: #57CE5B;
}

/* Github */
.media ul li:nth-child(3) a:hover {
	background-color: #6e5494;
}

/* Resume doc */
.media ul li:nth-child(4) a:hover {
	background-color: #A9A9A9;
}