html {
  height: 100%;
  margin: auto;
  box-sizing: border-box;
}
body {
background-color: #fff;
color: #fff;
font-family: Courier;
text-decoration: none;
margin: 0;
scroll-behavior: smooth;
flex-basis: 20%;
align-self: center;
}
.container {
	max-height: 100vh;
	overflow-y: : scroll;
  margin-bottom: 0;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}
.lead {
  text-align: center;
  box-sizing: content-box;
}
#description_about {
box-sizing: content-box;
width: 50%;
font-size:25px; 
}
#description_skills1{
box-sizing: content-box;
position: absolute;
width: 40%;
font-size:26px; 
left: 20px;
}
#description_skills2{
box-sizing: content-box;
position:absolute;
width: 40%;
font-size:26px; 
right: 20px;
}

div #links{
box-sizing: content-box;
width: 50%;
font-size:26px; 
text-decoration: none;
color: black;
}
#home {
font-size: 25px;
}
#about {
  box-sizing: content-box;
}
#skills {
  box-sizing: content-box;
  position: center;
  padding-bottom: 6%;

}
section div {
transition: all ease-in-out 900ms;
list-style: none;
display: block;
width: 100%;
overflow: hidden;

}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
/* Scroll Snap */
  scroll-snap-align: center;
}
section h1 {
  font-size: 4rem;
  padding-bottom: 10px;
}
section h1 #contact_header {
  font-size: 30px;
  padding-bottom: 30px;
  position:absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
}

footer  {
  font-size: 15px;
  text-align: center;
  color:#fff;
  padding-top: 70px;
  padding-bottom: 1%;
  background-color: #18262C;
}
/* Section Images */
section#home {
  background: url('Images/2.jpg') no-repeat center center/cover;
  height: 100vh;
}
section#about { 
  background: url('Images/15.jpg') no-repeat center center/cover;
  height: 100vh;
}
section#skills {
  background: url('Images/1.jpg') no-repeat center center/cover;
  height: 100vh;
}

section#contact {
  background: url('Images/11.jpg') no-repeat center center/cover;
  height: 100vh;
}